@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
html {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Menu */

.content {
  display: flex;
  width: 100vw;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  background-color: #1f1e1f;
  position: fixed;
  padding-left: 30rem;
}
.logo {
  margin-top: 20px;
  width: 150px;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo h3 {
  color: #fca311;
  font-size: 1.4rem;
}
.logo img{
  width: 100%;
  height: 100%;
}
.content .list-menu {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .list-menu li a {
  color: #fca311;
  padding: 3rem 1rem 2rem 1rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 200ms ease-in;
}
.content .list-menu li a:hover {
  background-color: #3333;
  border-bottom: 4px solid #fca311;
  color: #fff;
}

/* First Section */

.first-section {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(/img/background.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-section .conteudo-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-section h1 {
  color: #fca311;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.first-section h2 {
  color: rgb(177, 177, 177);
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
.btn button {
  border-radius: 15px;
  text-transform: uppercase;
  color: #232323;
  background-color: #fca311;
  font-size: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top: 1rem;
  transition: all 200ms ease-in;
}
.btn button:hover {
  border: 1px solid #fca311;
  background-color: transparent;
  color: #fca311;
}
.btn {
  width: 480px;
  display: flex;
  justify-content: space-around;
}

/* Sobre nós */

.sobre-nos {
  background-color: #1f1e1f;
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.sobre-nos img {
  width: 400px;
  height: auto;
  margin-top: 10rem;
  margin-left: 10rem;
}
.main {
  display: flex;
  justify-content: space-between;
}
.contentsobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentsobre h2 {
  font-size: 6rem;
  margin-bottom: 1rem;
}
.contentsobre p {
  font-size: 1.8rem;
  text-align: justify;
  width: 600px;
}

/* Eventos */

.eventos {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(12, 12, 12, 0.8);
}
.eventos h2 {
  font-size: 5rem;
  color: #e6e6e6;
}
.itens-eventos {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.itens-eventos .info {
  background-color: rgb(221, 221, 221);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}
.itens-eventos h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.itens-eventos img {
  width: 100%;
  height: 200px;
}
.itens-eventos div {
  background-color: #5e5252;
  box-shadow: 0px 0px 4px 1px;
}
.itens-eventos .info .agendar {
  width: 200px;
  height: 35px;
  margin-top: 0.5rem;
  background-color: #fca311;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
}